<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from demo.egenslab.com/html/jobes/preview/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 Oct 2025 10:02:55 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOBES- Job Portal HTML Template</title>

    <link rel="icon" href="~/images/sm-logo.svg" type="image/gif" sizes="20x20">


    <!-- css file link -->
    <link rel="stylesheet" href="~/css/all.css">

    <!-- bootstrap 5 -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- box-icon -->
    <link rel="stylesheet" href="~/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/summernote.min.css">

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/css/bootstrap-icons.css">

    <!-- jquery ui -->
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <!-- swiper-slide -->
    <link rel="stylesheet" href="~/css/swiper-bundle.css">

    <!-- Slick-slider -->
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/css/slick.css">

    <!-- nice-select -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/select2.min.css">


    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">


    <!-- style css -->
    <link rel="stylesheet" href="~/css/datepicker.min.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/css/jquery-ui.css">

    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body class="bg-wight">
    <div class="eg-preloder">
    </div>
    <!-- ========== header============= -->
   @await Component.InvokeAsync("Header");
    <!-- ========== header end============= -->
            @RenderBody()
       <!-- ========== Home1 Footer area Start============= -->
    <footer class="footer1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-sm-start justify-content-center">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5>About Company</h5>
                        </div>
                        <div class="menu-container">
                            <ul>
                                <li><a href="contact.html">Contact Us <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="#">Terms & Condition <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="#">Privacy & Policy <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="#">Candidate Listing <i class='bx bx-up-arrow-alt'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-md-center justify-content-sm-end justify-content-center">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5>For Candidate’s</h5>
                        </div>
                        <div class="menu-container">
                            <ul>
                                <li><a href="edit-profile-2.html">Create Resume <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="category.html">Browse Categories <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="bookmark.html">Save Jobs List <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="job-listing1.html">Browse Jobs <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="dashboard.html">Candidate Dashboard <i class='bx bx-up-arrow-alt'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mb--50 d-flex justify-content-lg-center justify-content-md-end justify-content-sm-start justify-content-center">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5>For Employer’s</h5>
                        </div>
                        <div class="menu-container">
                            <ul>
                                <li><a href="job-post.html">Post A Job <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="#">Browse Candidates <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="pricing-plan.html">Job Packages <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="job-listing1.html">Jobs Featured <i class='bx bx-up-arrow-alt'></i></a></li>
                                <li><a href="company-dashboard.html">Employer Dashboard <i class='bx bx-up-arrow-alt'></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-end justify-content-center">
                    <div class="footer-widget four">
                        <div class="widget-title">
                            <h5>Download App</h5>
                        </div>
                        <div class="app-list">
                            <ul>
                                <li>
                                    <a href="#"><img src="~/images/icon/apple-app.svg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/images/icon/google-play.svg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-btm">
                <div class="footer-logo">
                    <img src="~/images/footer-logo.svg" alt="">
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
                        <div class="support">
                            <div class="icon">
                                <img src="~/images/icon/footer-support-icon.svg" alt="">
                            </div>
                            <div class="content">
                                <h5>Support Line:</h5>
                                <a href="tel:+099-03573983465">+099-035 7398 3465</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                        <div class="footer-btm-menu">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Services</a></li>
                                <li><a href="https://www.google.com/maps/place/Egens+Lab/23.8340712,90.3634979,17z/data=!3m1!4b1!4m5!3m4!1s0x3755c14c8682a473:0xa6c74743d52adb88!8m2!3d23.8340663!4d90.3656866">Our Sitemap</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row border-top align-items-center">
                    <div class="col-lg-6 d-flex  justify-content-lg-start justify-content-center">
                        <div class="copyright-area">
                            <p>©Copyright 2023 <a href="#">JOBES</a> | Design By <a href="https://www.egenslab.com/">Egenslab</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
                        <div class="social-area">
                            <h6>Follow JOBES:</h6>
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="bx bxl-facebook"></i></a></li>
                                <li><a href="https://twitter.com/"><i class="bx bxl-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/"><i class="bx bxl-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/"><i class="bx bxl-instagram"></i></a></li>
    
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ========== Home1 Footer area end============= -->

  
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery.nice-select.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/summernote.min.js"></script>

    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/counterup.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/viewport.jquery.js"></script>
    <script src="~/js/jquery.nice-number.min.js"></script>
    <script src="~/js/main.js"></script>
    
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"70834e4b23964a2eaf7cf4ec0e5e9a84","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from demo.egenslab.com/html/jobes/preview/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 Oct 2025 10:03:24 GMT -->
</html>